body {
       font-family: Arial;
       background-color: black;

     }

h1 {
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
  }


h3 {
  font-size: 16px;
  text-align: center;
  color: aquamarine;

}


#copy {
  text-align: right;
  color: grey;
  font-size: 21px;
}

h2 {
    font-family: Verdana;
    font-size: 42px;
    font-weight: 300;
    color: white;
    text-align: center;

}

p {
  font-family: Verdana;
  font-size: 21px;

  color: grey;
  text-align: center;
}

video {
  display: block;
  margin: 0 auto;
}
